@import "mixins.scss", "variables.scss";

.registration-content {
  display: flex;
  flex-flow: column;
  padding: 30px;

  &__gender {
    display: inline-block;
    margin: 0px;
    width: 100%;
  }
  input[type='radio']:checked + &__sex {
    color: $main-color;
  }
  &__description {
    display: inline-block;
    margin: 0px;
    width: 100%;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    font-family: "SF Pro Text";
  }
  &__sex {
    display: inline-block;
    margin: 0px;
    padding: 20px;
    width: calc(50% - 40px);
    color: $minor-color;
    font-size: 50px;
    cursor: pointer;
    transition: 0.4s all;

    &:hover {
      color: darken($main-color, 10%);
      transition: 0.4s all;
    }
  }
  &__input, &__select {
    padding: 16px 20px;
    margin: 0px 0px 20px;
    border-radius: 24px;
    font-size: 16px;
    align-items: center;
    background: #f1f1f1;
    border: 1px solid #ddd;

    &:focus {
      outline: none;
    }
  }
  &__select {
    padding: 16px 25px 16px 15px;
  }
  &__link {
    margin: 10px 0px 0px;
    color: $main-color;
  }
}