@import "../config/mixins.scss", "../config/variables.scss";

.profil {
  display: flex;
  flex-direction: row;
  padding: 20px;

  &__img {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 18px 10px 10px;
    height: auto;
    width: 20%;
    max-width: 120px;
    color: var(--main-color);
    font-size: 40px;
    background: #ddd;
    border-radius: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__name {
    text-align: left;
    padding: 0px 0px 3px 15px;
    color: var(--font-color);
    font-size: 20px;
    font-family: "SF UI Display Medium";
  }
  &__data {
    text-align: left;
    padding: 0px 0px 10px 15px;
    font-size: 14px;
    color: #666;
  }
}
.status {
  text-align: left;
  padding: 2px 0px 10px 15px;

  &__online {
    margin: 0px 10px 0px 0px;
    padding: 7px 9px;
    border: 1px solid #aaa;
    border-radius: 16px;
    color: #aaa;
    font-size: 12px;

    &--active {
      background: #429a43;
      border: none;
      color: #fff;
    }
  }
  &__not-present {
    margin: 0px;
    padding: 7px 9px;
    border: 1px solid #aaa;
    border-radius: 16px;
    color: #aaa;
    font-size: 12px;

    &--active {
      background: #e6a512;
      border: none;
      color: #fff;
    }
  }
}

// EVENTS
.events {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  button {
    width: 100%;
  }
}

// UŽIVATELÉ
.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &__title {
    margin: 0px 0px 10px;
    color: var(--font-color);
  }
  &__profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px 20px;
  }
  &__profil {
    position: relative;
    margin: 10px;

    img {
      height: 60px;
      width: 60px;
      border-radius: 100%;
    }

    &--status-online:after {
      content: "";
      position: absolute;
      right: 0px;
      bottom: 5px;
      height: 15px;
      width: 15px;
      background: #429a43;
      border-radius: 100%;
    }
    &--status-not-present:after {
      content: "";
      position: absolute;
      right: 0px;
      bottom: 5px;
      height: 15px;
      width: 15px;
      background: #e6a512;
      border-radius: 100%;
    }
    &--status-off:after {
      content: "";
      position: absolute;
      right: 0px;
      bottom: 5px;
      height: 15px;
      width: 15px;
      background: red;
      border-radius: 100%;
    }
  }
}