@import "variables.scss";

body {
  margin: 0px;
  height: 100%;
  counter-reset: step;

  @media screen and (min-height: $breakpoint-height-xs) {
    height: 100vh;
  }  
}

.body--bg-gray {
  background: var(--background-color);
}
.body--bg-purple {
  background: var(--background-color-intro);
}
.hidden {
  display: none !important;
}

#app {
  font-family: "SF UI Display Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px auto;
  min-height: $default-min-height; 
  max-width: $default-max-width;
}